*{
    padding: 0;
    margin: 0;
    font-family: onset;
}

@font-face {
    font-family: onset;
    src: url(../font/onest/Onest-Regular.ttf);
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #edf2f4;
}

.wrapper{
    position: relative;;
}
.header-section {
    background-color: #fff;
}
.header{
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    padding: 10px 0px;
}

.header .header-logo {
    width: 250px;
}
.header .vector-div{
    position: absolute;
    left: 10px;
}

.header .text1{
    font-size: 18px;
    line-height: 22.95px;
    font-weight: 700;
    color: #9B0000;
}


.main-content{
    background-color: #edf2f4;
    min-height: calc(100vh - 110px);
    display: flex;
    align-items: center;
}

.live-text{
    background: #FD0F00;
    display: inline-block;
    color: #fff;
    font-size: 10.56px;
    font-weight: 600;
    padding: 2px 11px;
    border-radius: 100px;
    line-height: 13.46px;
}

.box-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.box-head .text1{
    max-width: 90px;
    color: #161A1F;
    font-weight: 500;
    font-size: 10px;
    line-height: 12.3px;
}

.box-head .text2{
    color: #000000;
    font-weight: 500;
    font-size: 12.2px;
    line-height: 12.83px;
}
.box-head .result-text {
    font-size: 24px;
    line-height: 18.39px;
    font-weight: 700;
}
.text-dc5c28 {
    color: #dc5c28;
}
.text-013a7f {
    color: #013a7f;
}

.second-box{
    background-color: #ECF6FA;
    border-radius: 0px 0px 12px 12px;
    padding: 5px 0px;
}
.second-box .text1{
    font-size: 12px;
    line-height: 14.85px;;
    font-weight: 500;
}

.box-main-div{
    background-color: #fff;
    border-radius: 12px;
    width: 207px;
    padding-top: 10px;
}


.text-161A1F .text1{
    color: #161A1F !important;
}

.text-737679 .text1{
    color: #737679 !important;
}

.section1{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 8px;
}
.section1 .text1{
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
}
.section1 img {
    width: 25px;
}

.section1 .text2{
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
}


.main-content .section-div {
    border-bottom: 1px solid #D7D7D7;
    padding: 10px 0px;
}
.main-content .section-div .inactive {
    display: none;
}
.section1-main-div{
    display: flex;
    gap: 30px;
}
.main-content .section-div:last-child {
    border-bottom: 0px;
}

@media screen and (max-width:767px){
    .section1-main-div{
        flex-wrap: wrap;
        justify-content: center;
    }

    .header{
        justify-content: end;
    }
}

/* preloader css */
.preloader {
    width:100%;
    height:100%;  
    position:fixed;
    z-index:1;
    background:#d8d2d2;
}
.loader {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  left: 0%;
  position: absolute;
  z-index:3;
  top: 0%;
}

.loader-inner {
    display: inline-block;
  animation: loader 2s infinite ease;
}

@keyframes loader {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}


/* animation css */

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}
.blink{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}

.fadein {
    opacity: 0;
    transition: all 1.5s;
    transform: translate(0, 100px);
}

.fadein.visible {
    opacity: 1;
    transform: translate(0, 0);
}



.mover {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}


@media screen and (min-height:880px){
    .main-content .section-div {
        padding: 30px 0px;
    }
    .main-content .section-div .section1 {
        padding-bottom: 20px;
    }
}